{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main class="pt-5 pb-5">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-8">
     
        {{ page.content }}
         
         
      
     
  </div>

  <div class="col-sm-4">
      <aside class="layout-sidebar-first b" role="complementary">
          {{ page.sidebarR }}
     
          {{ sidebarR.projecttheme_views_block__post_categories_block_1 }}
        </aside>
      
  </div>

</div>
</div>
  {% endblock %}
 
      
  </main>
</div>
  {% if page.footer %}
 <footer class="page__footer bottom section-padding">
      <div class="container">
           <div class= "row">
                 <div class= "col-md-12 text-center ">
                     <div class= "copyright">
                       {{ page.footer.projecttheme_powered }}
                       	<p>© <span>2019</span> <span class="transition">Course TM7101</span> All rights reserved by <span class="transition"> Jairo, Karol & Lisbeth</span></p>
                     </div>
                 
                 </div>
           </div>
        </div>
      
    </footer>
  {% endif %}

